.dropdown-options-checkbox {
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    right: 16px;
    cursor: pointer;
}

.dropdown-options-checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.dropdown-options-checkbox + label::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #C1C1C1;
    border-radius: 6px;
    right: 16px;
}

.dropdown-options-checkbox:checked + label::before {
    background-image: url("../../assets/svg/check-mark.svg");
    background-color: #005FFD;
    background-repeat: no-repeat;
    background-position: center center;
    border-color: #0049D9;
}
