.dropdown-options-checkbox {
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    position: absolute;
    z-index: 1;
    opacity: 0;
    right: 16px;
    cursor: pointer;
}

.dropdown-options-checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.dropdown-options-checkbox + label::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    border: var(--checkbox-border);
    border-radius: var(--checkbox-border-radius);
    right: 16px;
}

.dropdown-options-checkbox:checked + label::before {
    background-image: url("../../assets/svg/check-mark.svg");
    background-color: var(--checkbox-background-color-active);
    background-repeat: no-repeat;
    background-position: center center;
    border-color: var(--checkbox-border-active);
}
