.dropdown-selected-value-remove {
    display: flex;
    align-items: center;
    background-image: url("../../assets/svg/cross.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: var(--button-size);
    height: var(--button-size);
    background-color: transparent;
    border: none;
}