@import "./fonts.module.css";

body {
    font-family: var(--text-font-family);
    font-weight: var(--text-font-weight);
    font-size: var(--text-font-size-normal);
    line-height: var(--text-line-height);
    color: var(--text-color-default);
}

p {
    margin: 0;
}

button,
label {
    cursor: pointer;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--container-width);
}

.wrapper {
    display: flex;
    justify-content: center;
    padding: 50px 15px;
    flex-direction: column;
}

