@import "../styles/variables.module.css";

.dropdown {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dropdown-background-color);
    border: var(--dropdown-border);
    border-radius: var(--dropdown-border-radius);
    padding: var(--dropdown-padding);
    min-height: var(--dropdown-height);
    cursor: pointer;
    z-index: 10;
}

.inner {
    width: 100%;
}


