.dropdown-options {
    content: '';
    position: absolute;
    top: calc(100% + 0.50em);
    left: 0;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 4px 32px rgba(51, 51, 51, 0.15);
    border-radius: 12px;
    display: none;
}

.dropdown-options--visible {
    display: block;
}

.dropdown-options-item {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #F4F4F4;
    padding: 14px;
    position: relative;
}

.dropdown-options-item:hover {
    background-color: #F4F4F4;
}

.dropdown-options-item--active {
    background-color: #F4F4F4;
}

.dropdown-options-search {
    background-color: #F4F4F4;
    border-radius: 10px;
    border: none;
    width: 100%;
    padding: 10px 10px 10px 35px;
    background-image: url("../../assets/svg/search.svg");
    background-repeat: no-repeat;
    background-position: 12px 50%;
}

.dropdown-options-search::placeholder {
    color: #C1C1C1;
}

.dropdown-options-search[type='search'] {
    font-family: inherit;
    font-size: 16px;
    color: #333333;
}

.dropdown-options-list {
    padding-inline-start: 0;
    margin: 0;
}

.dropdown-options-name {
    display: flex;
    gap: 10px;
    align-items: center;
}

.dropdown-options-input {
    padding: 16px;
}

.dropdown-options-inner {
    max-height: 300px;
    overflow: hidden auto;
}
.dropdown-options-label{
    word-break: break-word;
    padding-right: 30px;
}
.dropdown-options-img{
    width: 22px;
    height: 16px;
}